/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	
	header .nav>li>a{
		font-size: 1em;
		padding: 25px 20px;
		-webkit-transition: all 1.1s ease;
		transition: all 1.1s ease;
	}
	div.search {
		font-size: 1em;
	}

	div.banner {
		padding-top: 150px;
	}

	h1.banner-headline  {
		font-size: 50px;
	}

	div.banner p {
		font-size: 15px;
	}

	div.banner a  {
		font-size: 1em;
		padding: 10px 20px;
	}

	section.media-partners h2 {
		font-size: 1em;
		margin-top:40px;
	}

	section.media-partners li img {
		padding: 10px;
		width: 90%;
	}

	section.featuring-new-media .list-actors-1 li:nth-child(2) {
		margin-top: 10px;
	}

	.featuring-new-media img {
		float: none;
		width: 90%;
	}

}

@media only screen and (max-width : 1011px) {
	#latest-episodes img {
		width: 95%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 993px) {

	header .nav>li>a{
		font-size: 1em;
		padding: 25px 10px;
		-webkit-transition: all 1.1s ease;
		transition: all 1.1s ease;
	}
	div.search {
		font-size: 1em;
	}

	.featuring-new-media img,
	section.featuring-new-media li a,
	section.featuring-new-media li p {
		width: 80%;
		margin-left: 10%;
	}
    section.featuring-new-media li a {
		font-size: 25px;	
	}

	section.featuring-new-media h2 {
		font-size: 30px;
	}
}

@media only screen and (max-width : 768px) {
	header .nav>li>a{
		font-size: 0.9em;
		padding: 25px 10px;
		-webkit-transition: all 1.1s ease;
		transition: all 1.1s ease;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.navbar-nav {
		text-align: center;
		font-size: 1.4em;
		letter-spacing: 2px;
		margin:0 -15px;
	}

	div.banner {
		padding-top: 150px;
	}

	h1.banner-headline  {
		font-size: 40px;
	}

	div.banner p {
		font-size: 15px;
	}

	div.banner a  {
		font-size: 1em;
		padding: 10px 20px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
	.footer .container a img {
		width: 280px;
		height: 180px;
	}
	.footer .container .btn {
		margin-left: -7%;
	}

	#latest-episodes .btn {
		margin-left: 10%;
	}

	section.featuring-new-media h2 {
		font-size:24px;
	}

	section.featuring-new-media li a {
		font-size: 20px;	
	}

	.featuring-new-media img,
	section.featuring-new-media li a,
	section.featuring-new-media li p {
		width: 90%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.logo img {
		width: 200px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {


	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {

	}